  
#root {
  width: 25rem;
  height: 35rem;
  overflow-y: hidden;
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  width: 24.7rem;
  height: 4.3rem;
}

// li {
//   width: auto !important;
// }

.list-group {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 4.3rem;
  margin-bottom: 4rem;
}

h1 {
  font-size: 1.3rem;
}

small {
  font-size: 0.82rem;
}

p {
  font-size: 1rem;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  opacity: 0.5;
}

.card-light-mode-hover {
  background: rgba(0, 0, 0, 0.05);
  transition: all 0.1s ease-in-out;
}

.card-dark-mode-hover {
  background: rgba(250, 250, 250, 0.05);
  transition: all 0.1s ease-in-out;
}

.loader-ctn {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 35rem;
  overflow: hidden;
}

// .loader-ctn::-webkit-scrollbar {
//   display: none;
// }

.loader {
  background: transparent;
  width: 25px;
  height: 25px;
  border-top: 3.5px solid rgb(29, 161, 242);
  border-right: 3.5px solid rgb(29, 161, 242);
  border-bottom: 3.5px solid rgb(29, 161, 242);
  border-left: 3.5px solid rgb(200, 228, 245);
  border-radius: 50%;
  animation: spin 1s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  height: 35rem;
  background: rgba(0, 0, 0, 0.2);
}
.side-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 35rem;
  transform: translateX(-100%);
  transition: all 0.3s ease-out;
  ul {
    li {
      transition: all 0.1s ease-in-out;
    }
  }
}
.side-drawer.show {
  transform: translateX(0);
}

.searchbar-darkmode {
  background: rgba(225, 225, 225, 0.2);
}
.list-group-bg-darkmode {
  background: rgba(250, 250, 250, 0.11);
}

.modal {
  position: fixed;
  top: 25%;
  width: 20rem;
  height: 10rem;
}

.hover-list__light-mode {
  background: rgba(0, 0, 0, 0.1);
}

.hover-list__dark-mode {
  background: rgba(250, 250, 250, 0.1);
}

.view {
  position: fixed;
  top: 0;
  left: 0;
  width: 25rem;
  height: 35rem;
  z-index: 10000;
}